<ion-content [fullscreen]="true">
  <form>
    <ion-card>
      <ion-card-content>
        <div class="welcome-message">
          <ion-icon name="megaphone-outline" class="megaphone-icon"></ion-icon>
          <p>Nossos equipamentos de energia solar e eólico são projetados para maximizar a eficiência energética e reduzir o impacto ambiental. Com tecnologia de ponta, garantimos um fornecimento constante de energia limpa e sustentável.</p>
        </div>

        <div class="retangulo-azul">
          <p>TIPO DE EQUIPAMENTO</p>
        </div>

        <div class="campo-descricao">
          <label for="descricao">Descrição</label>
          <input placeholder="Digite a descrição do equipamento" id="descricao" type="text">
        </div>

        <ion-button expand="block" type="submit" color="success">
          Cadastrar
        </ion-button>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
