  
<ion-content [fullscreen]="true" >
    
  <form>
    
    <div>
      <div>
        <div>
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
         
          <p>
            Crie sua conta
          </p>
          <div>
            <label>
              Nome completo
            </label>
            <input placeholder="Digite seu nome completo" id="username" type="text">
          </div>
          <div>
            <label>
              CPF
            </label>
            <input placeholder="Digite seu CPF" id="cpf" type="text">
          </div>
          <div>
            <label>
              Telefone
            </label>
            <input placeholder="Digite seu telefone" id="telefone" type="text">
          </div>
          <div>
            <label>
              CEP
            </label>
            <input placeholder="Digite seu CEP" name="cep" type="text" id="cep" value="" size="10" maxlength="9">
            <label>
              Use "-" ex:. (88801-001)
            </label>  
          </div>
          <div>
            <label>
              Estado
            </label>
            <select id="estado" required data-input>
              <option selected>Estado</option>
              <option value="SC">Santa Catarina</option>
            </select>
          </div>
          <div>
            <label>
              Cidade
            </label>
            <select id="cidade" required data-input>
              <option selected>Cidade</option>
              <option value="criciuma">Criciuma</option>
            </select>
          </div>
          <div>
            <label>
              Autonomo ou Empresa
            </label>
            <select id="a" required data-input>
              <option selected>Selecione</option>
              <option value="aut">Autonomo</option>
              <option value="emp">Empresa</option>

            </select>
          </div>
        
          <div>
            <label>
              Senha
            </label>
            <input placeholder="Digite sua senha" id="password" type="password">
          </div>
          <div>
            <label>
              Confirmar senha
            </label>
            <input placeholder="Confirme sua senha" id="confirmPassword" type="password">
          </div>
          <div>
           
          </div>
          <button type="submit">
            Criar conta
          </button>
        </div>
      </div>
    </div>
  </form>  

</ion-content>
