<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="go('/home')">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Mensagem de Agradecimento -->
  <ion-card class="success-card">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="2" class="centralizar">
            <ion-icon name="megaphone-outline" size="large"></ion-icon>
          </ion-col>
          <ion-col>
            <p>
              Obrigado por se cadastrar na Matec! Estamos entusiasmados em tê-lo conosco. Esperamos que você tenha uma excelente experiência.
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <!-- Formulário de Criação de Conta -->
  <ion-card class="form-card">
    <ion-card-header>

      <ion-card-title>Crie sua Conta</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-item>
        <ion-label position="floating">Nome completo</ion-label>
        <ion-input [(ngModel)]="nome" placeholder="Digite seu nome completo" id="username" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">CPF</ion-label>
        <ion-input [(ngModel)]="cpf" placeholder="Digite seu CPF" id="cpf" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input [(ngModel)]="email" placeholder="Digite seu e-mail" id="cpf" type="text" required></ion-input>
      </ion-item>



      <ion-item>
        <ion-label position="floating">Telefone</ion-label>
        <ion-input [(ngModel)]="telefone" placeholder="Digite seu telefone" id="telefone" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">CEP</ion-label>
        <ion-input [(ngModel)]="CEP" placeholder="Digite seu CEP" name="cep" type="text" id="cep" maxlength="9" required></ion-input>
        <ion-note slot="end">Use "-" ex: (88801-001)</ion-note>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Estado</ion-label>
        <ion-select [(ngModel)]="estado" (ionChange)="atualizarCidades()" required>
          <ion-select-option value="SC">Santa Catarina</ion-select-option>
        </ion-select>
        <ion-icon name="checkmark-circle" slot="end" color="success"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Cidade</ion-label>
        <ion-select [(ngModel)]="cidade" id="cidade" required>
          <ion-select-option *ngFor="let cidade of cidades" [value]="cidade">{{ cidade }}</ion-select-option>
        </ion-select>
        <ion-icon name="checkmark-circle" slot="end" color="success"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Autônomo ou Empresa</ion-label>
        <ion-select [(ngModel)]="autonomo_empresa" required>
          <ion-select-option value="autonomo">Autônomo</ion-select-option>
          <ion-select-option value="empresa">Empresa</ion-select-option>
        </ion-select>
        <ion-icon name="checkmark-circle" slot="end" color="success"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input [(ngModel)]="senha" placeholder="Digite sua senha" id="password" type="password" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Confirmar senha</ion-label>
        <ion-input [(ngModel)]="confirmarSenha" placeholder="Confirme sua senha" id="confirmPassword" type="password" required></ion-input>
      </ion-item>

      <!-- Botão Criar Conta -->
<ion-button expand="block" type="submit" color="success" (click)="go('/home')">
  Criar conta 
</ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Faça o Login -->
  <ion-item lines="none" class="centered-text">
    <p>Já tem uma conta? <ion-router-link routerLink="/login" color="primary">Faça o Login</ion-router-link></p>
  </ion-item>
</ion-content>
