<ion-content [fullscreen]="true">
  <!-- Mensagem de Agradecimento -->
  <ion-card color="success">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="2">
            <ion-icon name="megaphone-outline" size="large"></ion-icon>
          </ion-col>
          <ion-col>
            <p style="color: white;">
              Obrigado por se cadastrar na Matec! Estamos entusiasmados em tê-lo conosco. Esperamos que você tenha uma excelente experiência.
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <!-- Formulário de Criação de Conta -->
  <form>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          Crie sua Conta
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Nome completo</ion-label>
          <ion-input [(ngModel)]="nome" placeholder="Digite seu nome completo" id="username" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">CPF</ion-label>
          <ion-input [(ngModel)]="cpf" placeholder="Digite seu CPF" id="cpf" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Telefone</ion-label>
          <ion-input [(ngModel)]="telefone" placeholder="Digite seu telefone" id="telefone" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">CEP</ion-label>
          <ion-input [(ngModel)]="CEP" placeholder="Digite seu CEP" name="cep" type="text" id="cep" size="10" maxlength="9"></ion-input>
          <ion-note slot="end">Use "-" ex:. (88801-001)</ion-note>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Estado</ion-label>
          <ion-select [(ngModel)]="estado" required>
            <ion-select-option value="SC">Santa Catarina</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Cidade</ion-label>
          <ion-select [(ngModel)]="cidade" id="cidade" required>
            <ion-select-option value="criciuma">Criciúma</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Autônomo ou Empresa</ion-label>
          <ion-select [(ngModel)]="tipopessoa" required>
            <ion-select-option value="aut">Autônomo</ion-select-option>
            <ion-select-option value="emp">Empresa</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input [(ngModel)]="senha" placeholder="Digite sua senha" id="password" type="password"></ion-input>
        </ion-item>

        <ion-button expand="block" type="submit" color="success" (click)="salvar()">
          Criar conta
        </ion-button>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
