ion-header {
  --background: #14af27;
  color: #f5f5f5;
}

ion-content {
  --background: #000000;
}

ion-item {
  --background: #000000;
  border-radius: 10px;
  margin: 10px 0;
}

ion-avatar img {
  border-radius: 50%;
}

ion-button {
  --border-radius: 5px;
}
