<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Usuários</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="criarUsuario()">
        <ion-icon name="add-circle-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let usuario of usuarios">
      <ion-avatar slot="start">
        <img [src]="usuario.avatar" alt="{{ usuario.nome }}">
      </ion-avatar>
      <ion-label>
        <h2>{{ usuario.nome }}</h2>
        <p>{{ usuario.email }}</p>
      </ion-label>
      <ion-button slot="end" fill="outline" color="primary" (click)="detalhesUsuario(usuario)">
        Detalhes
      </ion-button>
    </ion-item>
  </ion-list>

  <!-- Botão flutuante para criar usuário -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="criarUsuario()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
