<ion-content [fullscreen]="true" >
    
    <form>
      
      <div>
        <div>
          <div>
           
            <p>
        Login
            </p>
            <div>
              <label>
               Usuário
              </label>
              <input placeholder="Digite seu Usuário" id="username" type="text">
            </div>
            <div>
              <label>
            Senha
              </label>
              <input placeholder="Digite sua senha" id="senha" type="text">
            </div>
        </div>
        <button type="submit">
        Entrar
        </button>
      </div>