<div class="rounded-[8px] bg-[#FFFFFF] relative flex flex-col p-[32px_32px_76px_32px] w-[100%] box-sizing-border">
  <div class="m-[0_0_24px_0] inline-block self-start break-words font-['Lato'] font-bold text-[24px] text-[#000000]">
    Dê o próximo passo
  </div>
  <div class="m-[0_0_40px_0] inline-block self-start break-words font-['Lato'] font-bold text-[20px] text-[#8493AC]">
    Receba apoio em sua carreira, com consultorias individuais
  </div>
  <img class="relative m-[0_12.4px_40px_0] self-center w-[254.6px] h-[276px]" />
  <div class="m-[0_1px_80px_0] flex flex-row self-center gap-[0_16px] w-[68px] box-sizing-border">
    <div class="rounded-[6px] bg-[#D9D9D9] w-[12px] h-[12px]">
    </div>
    <div class="rounded-[6px] bg-[#D9D9D9] w-[12px] h-[12px]">
    </div>
    <div class="rounded-[6px] bg-[#1673FA] w-[12px] h-[12px]">
    </div>
  </div>
  <div class="rounded-[40px] bg-[#1673FA] flex flex-row justify-center p-[16px_0_16px_0] w-[100%] box-sizing-border">
    <span class="break-words font-['Lato'] font-black text-[18px] text-[#FFFFFF]">
      Continuar
    </span>
  </div>
  <div class="bg-[url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/trialprojects/trial-VmMo11dnuEyVHwXCeBDE26/assets/images/c3ba710f6f7bd90a1ba021b9ed73f1febd4bd886?Expires=1712151347&KeyName=fn12-cdn&Signature=1qj8sZrin6bNdFOYdQGMRrYljSc=')_50%_/_cover_no-repeat] absolute left-[50%] top-[210px] translate-x-[-50%] w-[282px] h-[205px]">
  </div>
</div>