<ion-menu [contentId]="content_id">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-list>
      <ion-item (click)="go('/home')">
        <ion-icon name="home-outline" slot="start"></ion-icon>
        Home
      </ion-item>

      <ion-item (click)="go('/cadastro-usuario')">
        <ion-icon name="person-add-outline" slot="start"></ion-icon>
        Cadastro
      </ion-item>

      <ion-item (click)="go('/configuracoes')">
        <ion-icon name="settings-outline" slot="start"></ion-icon>
        Configurações
      </ion-item>

      <ion-item (click)="go('/dashboard')">
        <ion-icon name="stats-chart-outline" slot="start"></ion-icon>
        Dashboard
      </ion-item>

      <ion-item (click)="go('/sobre-exemplo')">
        <ion-icon name="information-circle-outline" slot="start"></ion-icon>
        Sobre Nós
      </ion-item>

      <ion-item (click)="go('/login')">
        <ion-icon name="log-in-outline" slot="start"></ion-icon>
        Login
      </ion-item>

      <ion-item (click)="go('/logout')" class="logout">
        <ion-icon name="log-out" slot="start"></ion-icon>
        Logout
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
