<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home']">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Histórico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Mensagem de boas-vindas com ícone de megafone -->
  <div class="welcome-container" style="text-align: center; padding: 16px;">
    <ion-icon name="megaphone-outline" size="large" style="font-size: 3rem; margin-bottom: 8px;"></ion-icon>
    <h2>Bem-vindo ao seu Histórico!</h2>
    <p>Gerencie seus agendamentos de manutenção de energia solar aqui.</p>
  </div>

  <!-- Histórico de Agendamentos de Manutenção -->
  <ion-list>
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Histórico</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-item *ngFor="let a of agendamentos">
      <ion-label >
        <h2>{{ a.motivoProblema }}</h2>
        <p>Data: {{ a.data_formatada }}</p>
        <p>Status: Confirmado</p>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>
