<div class="bg-[#F6F8FB] flex flex-col items-center p-[101px_29px_99px_29px] box-sizing-border">
  <div class="shadow-[0px_4px_4px_0px_rgba(0,0,0,0.25)] rounded-[9px] bg-[#FFFFFF] absolute left-[0px] top-[0px] right-[0px] bottom-[0px] h-[100%]">
  </div>
  <div class="relative m-[0_0_69.5px_0] inline-block self-start break-words font-['Outfit'] font-semibold text-[48px] text-[#1673FA]">
    Awari
  </div>
  <div class="relative m-[0_4px_21px_4px] inline-block self-start break-words font-['Outfit'] font-bold text-[16px] text-[rgba(0,0,0,0.78)]">
    Email:
  </div>
  <div class="relative m-[0_124.5px_28.5px_0] inline-block break-words font-['Outfit'] font-normal text-[14px] text-[#C9C9C9]">
    Digite seu email
  </div>
  <div class="relative m-[0_3.8px_22.5px_3.8px] inline-block self-start break-words font-['Outfit'] font-bold text-[16px] text-[rgba(0,0,0,0.78)]">
    Senha:
  </div>
  <div class="relative m-[0_120.3px_21px_0] inline-block break-words font-['Outfit'] font-normal text-[14px] text-[#C9C9C9]">
    Digite sua senha
  </div>
  <div class="relative m-[0_0_35.5px_3px] flex flex-row justify-between w-[296px] box-sizing-border">
    <div class="flex flex-row box-sizing-border">
      <div class="rounded-[1px] border-[0.4px_solid_#000000] bg-[#1673FA] m-[6.5px_5.6px_4.5px_0] w-[7px] h-[7px]">
      </div>
      <span class="break-words font-['Outfit'] font-normal text-[14px] text-[#000000]">
        Manter conectado
      </span>
    </div>
    <span class="break-words font-['Outfit'] font-normal text-[14px] underline text-[rgba(0,0,0,0.74)]">
      Esqueceu sua senha?
    </span>
  </div>
  <div class="rounded-[5px] bg-[#1673FA] relative m-[0_15px_13.5px_0] flex flex-row justify-center p-[10.5px_1px_11px_0] w-[158.9px] box-sizing-border">
    <span class="break-words font-['Lato'] font-semibold text-[16px] text-[#FFFFFF]">
      Entrar
    </span>
  </div>
  <p class="relative m-[0_16.3px_17.5px_0] break-words font-['Outfit'] font-normal text-[14px] text-[rgba(0,0,0,0.62)]">
    <span class="sem-conta-sub-0"></span><span></span>
  </p>
  <div class="relative m-[0_2px_23.5px_0] flex flex-row w-[fit-content] box-sizing-border">
    <div class="bg-[rgba(0,0,0,0.2)] m-[8.5px_6px_6.5px_0] w-[118px] h-[1px]">
    </div>
    <span class="m-[0_6.8px_0_0] break-words font-['Outfit'] font-normal text-[13px] text-[#C9C9C9]">
      OU
    </span>
    <div class="bg-[rgba(0,0,0,0.2)] m-[8.5px_0_6.5px_0] w-[131px] h-[1px]">
    </div>
  </div>
  <div class="rounded-[5px] bg-[#0084F9] relative m-[0_0_10px_0] flex flex-row justify-center p-[10px_7px_9px_0] w-[100%] box-sizing-border">
    <span class="break-words font-['Inter'] font-normal text-[15px] tracking-[1.7px] text-[#FFFFFF]">
      Entrar com Facebook
    </span>
  </div>
  <div class="rounded-[5px] bg-[#CF4332] relative m-[0_0_10px_0] flex flex-row justify-center p-[10px_1px_9px_0] w-[100%] box-sizing-border">
    <span class="break-words font-['Inter'] font-normal text-[15px] tracking-[1.7px] text-[#FFFFFF]">
      Entrar com Google+
    </span>
  </div>
  <div class="rounded-[5px] bg-[#3AA0D0] relative flex flex-row justify-center p-[9px_0_10px_1px] w-[100%] box-sizing-border">
    <span class="break-words font-['Inter'] font-normal text-[15px] tracking-[1.7px] text-[#FFFFFF]">
      Entrar com Twitter
    </span>
  </div>
  <span class="absolute left-[29px] top-[158px] break-words font-['Outfit'] font-normal text-[32px] text-[#000000]">
    Seja Bem Vindo!
  </span>
  <div class="rounded-[5px] border-[0.6px_solid_#1673FA] bg-[#FFFFFF] absolute left-[29px] top-[341px] right-[29px] h-[54px]">
  </div>
  <div class="rounded-[5px] border-[0.6px_solid_#1673FA] bg-[#FFFFFF] absolute left-[29px] top-[254px] right-[29px] h-[54px]">
  </div>
</div>