.bg-color {
    background: #F6F8FB;
    display: flex;
    flex-direction: column;
    padding: 24px 8px;
    box-sizing: border-box;
  }
  
  .comece-seu-futuro-agora {
    margin: 0 6px 24px 6px;
    display: inline-block;
    align-self: flex-start;
    word-break: break-word;
    font-family: 'Lato';
    font-weight: bold;
    font-size: 24px;
    color: #000000;
  }
  
  .a-awari-uma-plataforma-completa-para-sua-carreira {
    margin: 0 6px 41px 6px;
    display: inline-block;
    align-self: flex-start;
    word-break: break-word;
    font-family: 'Lato';
    font-weight: bold;
    font-size: 20px;
    color: #8493AC;
  }
  
  .image-2 {
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/trialprojects/trial-VmMo11dnuEyVHwXCeBDE26/assets/images/b8ff199402860629fa2a1753e9ba0a946c847548?Expires=1712150937&KeyName=fn12-cdn&Signature=pKgcsLm5DYhCpKpCIfOa5L-c_UI=');
    margin: 0 16px 34px 16px;
    align-self: flex-start;
    width: 62px;
    height: 19px;
  }
  
  .button {
    border-radius: 40px;
    background: #1673FA;
    margin: 0 6.2px 0 6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 16px 0;
    width: calc(100% - 12.2px);
    box-sizing: border-box;
  }
  
  .group-1 {
    margin: 0 1.2px 80px 0;
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 0 16px;
    width: 68px;
    box-sizing: border-box;
  }
  
  .ellipse-1, .ellipse-2, .ellipse-3 {
    border-radius: 6px;
    width: 12px;
    height: 12px;
  }
  
  .ellipse-1 {
    background: #1673FA;
  }
  
  .ellipse-2, .ellipse-3 {
    background: #D9D9D9;
  }
  
  .container {
    border-radius: 8px;
    background: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 32px 25.8px 76px 26px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .container-2 {
    margin: 0 0 40px 0;
    width: 307.2px;
    height: 275px;
  }
  
  .continuar {
    word-break: break-word;
    font-family: 'Lato';
    font-weight: black;
    font-size: 18px;
    color: #FFFFFF;
  }
  