<div class="bg-[#F6F8FB] flex flex-col p-[24px_8px_24px_8px] box-sizing-border">
    <div class="bg-[url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/trialprojects/trial-VmMo11dnuEyVHwXCeBDE26/assets/images/b8ff199402860629fa2a1753e9ba0a946c847548?Expires=1712150937&KeyName=fn12-cdn&Signature=pKgcsLm5DYhCpKpCIfOa5L-c_UI=')] m-[0_16px_34px_16px] self-start w-[62px] h-[19px]">
    </div>
    <div class="rounded-[8px] bg-[#FFFFFF] relative flex flex-col p-[32px_25.8px_76px_26px] w-[100%] box-sizing-border">
      <div class="m-[0_6px_24px_6px] inline-block self-start break-words font-['Lato'] font-bold text-[24px] text-[#000000]">
        Comece seu futuro agora...
      </div>
      <div class="m-[0_6px_41px_6px] inline-block self-start break-words font-['Lato'] font-bold text-[20px] text-[#8493AC]">
        A Awari é uma plataforma completa para sua carreira.
      </div>
      <img class="m-[0_0_40px_0] w-[307.2px] h-[275px]" />
      <div class="m-[0_1.2px_80px_0] flex flex-row self-center gap-[0_16px] w-[68px] box-sizing-border">
        <div class="rounded-[6px] bg-[#1673FA] w-[12px] h-[12px]">
        </div>
        <div class="rounded-[6px] bg-[#D9D9D9] w-[12px] h-[12px]">
        </div>
        <div class="rounded-[6px] bg-[#D9D9D9] w-[12px] h-[12px]">
        </div>
      </div>
      <div class="rounded-[40px] bg-[#1673FA] m-[0_6.2px_0_6px] flex flex-row justify-center p-[16px_0_16px_0] w-[calc(100%_-_12.2px)] box-sizing-border">
        <span class="break-words font-['Lato'] font-black text-[18px] text-[#FFFFFF]">
          Continuar
        </span>
      </div>
    </div>
  </div>