<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home']">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card color="secondary">
    <ion-card-header>
      <ion-icon name="podium-outline"></ion-icon>
      <ion-card-subtitle>Casos Encontrados</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <h1 class="icon-card-value">20</h1>
    </ion-card-content>
  </ion-card>

  <ion-card color="success">
    <ion-card-header>
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-card-subtitle>Itens Adicionados</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <h1 class="icon-card-value">03</h1>
    </ion-card-content>
  </ion-card>

  <!-- Gráfico de Barras -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Gráfico de Barras</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas id="barChart"></canvas>
    </ion-card-content>
  </ion-card>

  <!-- Gráfico de Linhas -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Gráfico de Linhas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas id="lineChart"></canvas>
    </ion-card-content>
  </ion-card>

</ion-content>

