<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Logout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Logout</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="logout-container">
    <ion-icon name="log-out-outline" class="logout-icon"></ion-icon>
    <p>Você realmente deseja sair da conta?</p>
    <ion-button expand="block" color="danger" (click)="logout()">Sair</ion-button>
  </div>
</ion-content>
