.logo-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  max-width: 50px;
  max-height: 50px;
  margin-right: 15px;
}

.app-title {
  font-size: 24px;
  font-weight: bold;
  color: #4cc308;
  margin: 0;
}

.welcome-message {
  display: flex;
  align-items: center;
  background-color: #f0f8ff;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 18px;
  color: #2f502c;
}

.megaphone-icon {
  font-size: 32px;
  color: #ff5722;
  margin-right: 10px;
}

.square-button {
  height: 150px;
  text-align: center;
  --background: #2ecc71;
  --color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.square-button ion-icon {
  font-size: 48px;
  margin-bottom: 8px;
}
